HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Gradle and Build ###
.gradle/            # Gradle build configuration
build/              # Compiled output files
out/                # Compiled output files

### Java Standard ###
/META-INF/          # Standard Java META-INF directory

### IntelliJ IDEA ###
.idea/              # IntelliJ IDEA project configuration
*.iws               # IntelliJ IDEA workspace settings
*.iml               # IntelliJ IDEA module settings
*.ipr               # IntelliJ IDEA project settings
.DS_Store           # macOS directory metadata

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
