HELP.md

# 忽略所有 target 目录
target/

# 忽略 IDEA 项目文件
.idea/
*.iws               # IntelliJ IDEA workspace settings
*.iml               # IntelliJ IDEA module settings
*.ipr               # IntelliJ IDEA project settings

# 忽略 vscode相应文件
.vscode/

# 包含 Maven Wrapper 文件
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# 包含.idea/codeStyles 目录
!.idea/codeStyles/**

### Gradle and Build ###
.gradle/            # Gradle build configuration
build/              # Compiled output files
out/                # Compiled output files

.DS_Store           # macOS directory metadata